[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2019.11.28"
paho-mqtt = "==1.5.0"
pipenv = "==2022.1.8"
psycopg2-binary = "==2.8.4"
virtualenv = "==16.7.9"
virtualenv-clone = "==0.5.3"

[requires]
python_version = "3.7"
